@use "../../styles/GlobalStyles.module.scss" as *; 

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    background: var(--input-border-color);
    padding: 30px;
    border-radius: 12px;
    width: 800px;
    height: 500px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Center horizontally */
    padding-top: 50px; /* Ensure space at the top */
}

.modalContent h2 {
    margin-bottom: 10px;
    color: black;
}

.modalContent label {
    margin-bottom: 3px; /* Reduced margin */
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    width: 100%;
    display: block;
}

// .modalContent input {
//     width: 100%;
//     padding: 8px;
//     margin-bottom: 10px;
//     border: 1px solid #ccc;
//     border-radius: 5px;
// }

// .modalContent button {
//     padding: 8px 12px;
//     margin: 5px;
//     border: none;
//     cursor: pointer;
//     border-radius: 5px;
// }

.inputContainer {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 20px; /* Adds space between inputs */
}

.inputContainer input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    padding-right: 45px;
}

/* Hide file input */
.inputContainer input[type="file"] {
    display: none;
}

/* Icon inside input */
.icon {
    position: absolute;
    right: 15px;
    font-size: 1.5rem;
    color: #0066b2;
    cursor: pointer;
}

.modalActions {
    margin-top: 240px;
    width: 30%;
    display: flex;
    justify-content: center;
}

.add {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    background: var(--background-color);
    color: var(--primary-color);
    border: none;
}


.cancel {
    position: absolute;
    top: 5px;  /* Moves button to top */
    right: 5px; /* Moves button to right */
    background: var(--background-color);
    color: var(--primary-color);
    border: none;
    font-size: 20px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}


// .modalContent button:first-of-type {
//     background: #0066b2;
//     color: white;
// }

// .modalContent button:last-of-type {
//     background: #ccc;
// }
